@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "LoginFailed";
}

<hgroup>
    <h1 class="text-danger">Incorrect.</h1>
    <h2 class="text-danger">votre pseudo ou le mot de passe est incorrect, veuillez réessayer.</h2>
</hgroup>
